In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import math

/var/folders/s7/md5b66vn4l39df_j063nqlp00000gn/T/ipykernel_19381/2952414066.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Final Death by Month by Occurrence

In [2]:
final_death_occurrence = pd.read_csv('death-profiles-by-county-bzbdqj/2019-2021-final-deaths-by-month-by-occurrence-county.csv')
final_death_occurrence

,Year,Month,County,Geography_Type,Strata,Strata_Name,Cause,Cause_Desc,ICD_Revision,Count,Annotation_Code,Annotation_Desc,Data_Revision_Date
0,2019,1,Alameda,Occurrence,Total Population,Total Population,ALL,All causes (total),ICD-10,942.0,NaN,NaN,12/15/2022
1,2019,1,Alameda,Occurrence,Age,Under 1 year,ALL,All causes (total),ICD-10,NaN,1.0,Cell suppressed for small numbers,12/15/2022
2,2019,1,Alameda,Occurrence,Age,1-4 years,ALL,All causes (total),ICD-10,NaN,1.0,Cell suppressed for small numbers,12/15/2022
3,2019,1,Alameda,Occurrence,Age,5-14 years,ALL,All causes (total),ICD-10,NaN,1.0,Cell suppressed for small numbers,12/15/2022
4,2019,1,Alameda,Occurrence,Age,15-24 years,ALL,All causes (total),ICD-10,NaN,1.0,Cell suppressed for small numbers,12/15/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390451,2021,12,Yuba,Occurrence,Race-Ethnicity,Hawaiian/Pacific Islander,SUI,Intentional self-harm (suicide),ICD-10,0.0,NaN,NaN,12/15/2022
390452,2021,12,Yuba,Occurrence,Race-Ethnicity,Hispanic,SUI,Intentional self-harm (suicide),ICD-10,0.0,NaN,NaN,12/15/2022
390453,2021,12,Yuba,Occurrence,Race-Ethnicity,Multi-Race,SUI,Intentional self-harm (suicide),ICD-10,0.0,NaN,NaN,12/15/2022
390454,2021,12,Yuba,Occurrence,Race-Ethnicity,White,SUI,Intentional self-harm (suicide),ICD-10,NaN,1.0,Cell suppressed for small numbers,12/15/2022
390455,2021,12,Yuba,Occurrence,Race-Ethnicity,Other/Unknown,SUI,Intentional self-harm (suicide),ICD-10,0.0,NaN,NaN,12/15/2022

In [18]:
# combining count and annotation code to get the final count 
count = final_death_occurrence['Count'].to_list()
annotation = final_death_occurrence['Annotation_Code'].to_list()

final_count = [] 
for i in range(len(count)):
    if math.isnan(count[i]):
        final_count.append(annotation[i])
    else:
        final_count.append(count[i])

print(any(math.isnan(i) for i in final_count))
print(final_count[1:6])

False
[1.0, 1.0, 1.0, 1.0, 15.0]

In [19]:
modified_final_death_occurrence = final_death_occurrence.drop(columns=['Geography_Type', 'ICD_Revision', 'Count', 'Annotation_Code', 'Annotation_Desc', 'Data_Revision_Date'])
modified_final_death_occurrence["Count"] = final_count
# modified_final_death_occurrence.to_csv("Data/modified-2019-2021-final-deaths-by-month-by-occurrence-county.csv", index=False)

In [20]:
modified_final_death_occurrence

,Year,Month,County,Strata,Strata_Name,Cause,Cause_Desc,Count
0,2019,1,Alameda,Total Population,Total Population,ALL,All causes (total),942.0
1,2019,1,Alameda,Age,Under 1 year,ALL,All causes (total),1.0
2,2019,1,Alameda,Age,1-4 years,ALL,All causes (total),1.0
3,2019,1,Alameda,Age,5-14 years,ALL,All causes (total),1.0
4,2019,1,Alameda,Age,15-24 years,ALL,All causes (total),1.0
...,...,...,...,...,...,...,...,...
390451,2021,12,Yuba,Race-Ethnicity,Hawaiian/Pacific Islander,SUI,Intentional self-harm (suicide),0.0
390452,2021,12,Yuba,Race-Ethnicity,Hispanic,SUI,Intentional self-harm (suicide),0.0
390453,2021,12,Yuba,Race-Ethnicity,Multi-Race,SUI,Intentional self-harm (suicide),0.0
390454,2021,12,Yuba,Race-Ethnicity,White,SUI,Intentional self-harm (suicide),1.0
390455,2021,12,Yuba,Race-Ethnicity,Other/Unknown,SUI,Intentional self-harm (suicide),0.0

In [21]:
# Get all the unique counties
modified_final_death_occurrence['County'].unique()

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [22]:
# Get all the unique causes of death
modified_final_death_occurrence['Cause_Desc'].unique()

array(['All causes (total)', "Alzheimer's disease", 'Malignant neoplasms',
       'Chronic lower respiratory diseases', 'Diabetes mellitus',
       'Assault (homicide)', 'Diseases of heart',
       'Essential hypertension and hypertensive renal disease',
       'Accidents (unintentional injuries)',
       'Chronic liver disease and cirrhosis',
       'Nephritis, nephrotic syndrome and nephrosis',
       "Parkinson's disease", 'Influenza and pneumonia',
       'Cerebrovascular diseases', 'Intentional self-harm (suicide)'],
      dtype=object)

In [34]:
# Example : Total deaths in Alameda County in 2021 all causes of death 

grouped = modified_final_death_occurrence.groupby(['Year', 'County', 'Strata', 'Cause_Desc'])
group_2019_Alameda_TotalPop = grouped.get_group((2021, 'Alameda', 'Total Population', 'All causes (total)'))
print(group_2019_Alameda_TotalPop['Count'].sum())
group_2019_Alameda_TotalPop

11502.0

,Year,Month,County,Strata,Strata_Name,Cause,Cause_Desc,Count
253344,2021,1,Alameda,Total Population,Total Population,ALL,All causes (total),1384.0
264770,2021,2,Alameda,Total Population,Total Population,ALL,All causes (total),1014.0
276196,2021,3,Alameda,Total Population,Total Population,ALL,All causes (total),1004.0
287622,2021,4,Alameda,Total Population,Total Population,ALL,All causes (total),941.0
299048,2021,5,Alameda,Total Population,Total Population,ALL,All causes (total),871.0
310474,2021,6,Alameda,Total Population,Total Population,ALL,All causes (total),804.0
321900,2021,7,Alameda,Total Population,Total Population,ALL,All causes (total),849.0
333326,2021,8,Alameda,Total Population,Total Population,ALL,All causes (total),947.0
344752,2021,9,Alameda,Total Population,Total Population,ALL,All causes (total),867.0
356178,2021,10,Alameda,Total Population,Total Population,ALL,All causes (total),968.0
367604,2021,11,Alameda,Total Population,Total Population,ALL,All causes (total),852.0
379030,2021,12,Alameda,Total Population,Total Population,ALL,All causes (total),1001.0

### Demographic data

In [2]:
import pandas as pd

demo_data_2023 = pd.read_excel('datapile_-_headline_datasets_-_current.xlsx', sheet_name=None)

people_data = demo_data_2023["People"]

/var/folders/s7/md5b66vn4l39df_j063nqlp00000gn/T/ipykernel_11642/3173904881.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

FileNotFoundError: [Errno 2] No such file or directory: 'datapile_-_headline_datasets_-_current.xlsx'

In [29]:
people_header = people_data.columns.tolist()
people_data = people_data.drop(columns=[ 'Population in Group Quarters (January 2023)',
 'Population: Unincorporated (January 2023)',
 'Population: Unincorporated, Group Quarters (January 2023)',
 'Eligible Voters (February 2023)',
 'Registered Voters: No Party Preference (February 2023)',
 'Registered Voters: Democrat (February 2023)',
 'Registered Voters: Republican (February 2023)',
 'Registered Voters: Other Party (February 2023)',
 'Labor Force (9-2023)',
 'Labor Force: Employed (9-2023)',
 'Labor Force: Unemployed (9-2023)',
 'Labor Force: Unemployment Rate (9-2023)',
 'Poverty: All Ages (2021)',
 'Poverty: All Ages Percent (2021)',
 'Poverty: Under 18 (2021)',
 'Poverty: Under 18 Percent (2021)',
 'Median Household Income (2021)'])

In [30]:
unique_values = modified_final_death_occurrence['Strata_Name'].unique()
unique_values

array(['Total Population', 'Under 1 year', '1-4 years', '5-14 years',
       '15-24 years', '25-34 years', '35-44 years', '45-54 years',
       '55-64 years', '65-74 years', '75-84 years', '85 years and over',
       'Female', 'Male', 'Inpatient', 'Emergency Room/Outpatient',
       "Decedent's Home", 'Hospice Facility',
       'Nursing Home/Long Term Care Facility', 'Other/Unknown',
       'American Indian/Alaska Native', 'Asian', 'Black',
       'Hawaiian/Pacific Islander', 'Hispanic', 'Multi-Race', 'White',
       'Nonbinary/Unknown'], dtype=object)

In [33]:
people_data[0:5]

,County,Population (January 2023),Race/Ethnicity: American Indian (2023),Race/Ethnicity: Asian (2023),Race/Ethnicity: Black (2023),Race/Ethnicity: Hispanic (2023),Race/Ethnicity: Multi-Racial/Ethnic (2023),Race/Ethnicity: Hawaiian/ Pacific Island (2023),Race/Ethnicity: White (2023),Age: 0-5 (2023),Age: 6-17 (2023),Age: 18-64 (2023),Age: 65+ (2023)
0,Alameda,1636194,4089,541582,164053,364036,70157,13020,481109,105923,242834,984560,304729
1,Alpine,1184,219,20,5,131,30,0,762,67,112,646,342
2,Amador,39837,593,626,1041,6183,1047,92,30506,1944,3669,21943,12532
3,Butte,205592,3259,10757,3442,38515,8041,460,143141,12809,27875,127554,39377
4,Calaveras,44890,556,730,400,6321,1539,89,35109,2385,4603,22647,15109

In [ ]:
# List of all the causes of death and counties 
Cause_of_death = ['All causes (total)', "Alzheimer's disease", 'Malignant neoplasms',
       'Chronic lower respiratory diseases', 'Diabetes mellitus',
       'Assault (homicide)', 'Diseases of heart',
       'Essential hypertension and hypertensive renal disease',
       'Accidents (unintentional injuries)',
       'Chronic liver disease and cirrhosis',
       'Nephritis, nephrotic syndrome and nephrosis',
       "Parkinson's disease", 'Influenza and pneumonia',
       'Cerebrovascular diseases', 'Intentional self-harm (suicide)']

Counties = ['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba']

print(f"num of cause of death : {len(Cause_of_death)}")
print(f"num counties : {len(Counties)}")
print(len(people_data) == len(Counties))

num of cause of death : 15
num counties : 58
True

In [41]:

# loop through the different groups in death data and gather all the data for that the county 

grouped = modified_final_death_occurrence.groupby(['Year', 'County', 'Strata', 'Cause_Desc']) # group by year, county, strata and cause of death

i = 0 
while i < len(Cause_of_death):
    column_name = "2021 " + Cause_of_death[i]
    county_death = [] 
    
    for county in Counties:
        county_data = grouped.get_group((2021, county, 'Total Population', Cause_of_death[i]))
        county_death += [county_data['Count'].sum()]
    
    # add column to people data df 
    people_data[column_name] = county_death
    
    i += 1

people_data

In [43]:
#modified demographic + deaths data 
people_data.to_csv("Data/Final Data/demographic_death.csv", index=False)

In [44]:
# Print column names
people_data.columns.tolist()

['County',
 'Population (January 2023)',
 'Race/Ethnicity: American Indian (2023)',
 'Race/Ethnicity: Asian (2023)',
 'Race/Ethnicity: Black (2023)',
 'Race/Ethnicity: Hispanic (2023)',
 'Race/Ethnicity: Multi-Racial/Ethnic (2023)',
 'Race/Ethnicity: Hawaiian/ Pacific Island (2023)',
 'Race/Ethnicity: White (2023)',
 'Age: 0-5 (2023)',
 'Age: 6-17 (2023)',
 'Age: 18-64 (2023)',
 'Age: 65+ (2023)',
 '2021 All causes (total)',
 "2021 Alzheimer's disease",
 '2021 Malignant neoplasms',
 '2021 Chronic lower respiratory diseases',
 '2021 Diabetes mellitus',
 '2021 Assault (homicide)',
 '2021 Diseases of heart',
 '2021 Essential hypertension and hypertensive renal disease',
 '2021 Accidents (unintentional injuries)',
 '2021 Chronic liver disease and cirrhosis',
 '2021 Nephritis, nephrotic syndrome and nephrosis',
 "2021 Parkinson's disease",
 '2021 Influenza and pneumonia',
 '2021 Cerebrovascular diseases',
 '2021 Intentional self-harm (suicide)']